@font-face{
    font-family: LGC;
    src: url(src/LGC.ttf);
}

/*---------GROOT SCHERM ----------*/

@media (min-width: 990px){


/* nav-menu*/
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 300px;
    font-family: LGC;
}

.nav-menu{
    display: flex;
    gap: 35px;
}

.nav-menu h1{
    height: 50px;         
    line-height: 50px;     
    background-color: transparent;
    cursor: pointer;
    margin: 0; 
    width: 150px;
    text-align: center;
    
}

.nav-menu h1:hover{
    background-color: #ffc80073;
    
}

#aanbod{
    background-color: #FFC600;
    height: 50px;
    line-height: 50px;
    margin:0;
    width: 150px;;
    text-align: center;
    cursor: default;
}

a{
    text-decoration: none;
    color: black;
}

/*ham-menu*/

 #menu-toggle{
    display: none;
}

#menu-toggle:checked + .hamburger + .ham-menu {
    display: block;
    width: 250px;
    background-color: #4E8557;
    height: 100vh;
    transform: translateX(0);
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor:pointer;
    font-size: 50px;
    background-color: #4E8557;
    line-height: 100vh;
    height: 100vh;
    width: 100px;
    text-align: center;
    padding-top: 53px;
    margin-top: -60px;
    margin-left: -20px;
    padding-bottom: 42px;
    position: fixed;
}


.ham-menu{
    
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #4E8557;
    height: 100vh;
    font-family: LGC;
    transition: 0.28s ease-in-out;
    transform: translateX(-100%);
    
}

/* Sluitknop in menu */
.close-btn {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  cursor: pointer;
  padding-inline: 20px;
  padding-top: 20px;
}

img{
    width:50px;
    height: auto;
    margin-left: 25px;
    margin-top: 50px;
}

.logo-ham{
    width: 100px;
    height: auto;
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 12px;
    padding-bottom: 30px;
}

.nav-ham-menu{
    display: none;
}

/*TEKST*/

/*intro*/
.intro{
    position: relative;
    margin-top: 100px;
    margin-left: 325px;
    margin-right: 70px;
    font-size: 20px;
    margin-bottom: 150px;
    font-family: LGC;
}

/*hoofd-titels*/
.hoofd-titels{
    margin-top: -50px;
}

/*algemeen info*/

.alg-info{
    margin-top: -25px;
}



/* sessies */

.sessies-parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px; 
    margin-left: 250px;
    margin-top: 150px;
}


.sessies-container {
    font-family: LGC;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    
}


.sessie-box {
    border: 2px solid #806403;
    display: flex;
    flex-wrap: wrap;
    
}

.sessie-links {
    width: 50%;
    padding-top: 25px;
    box-sizing: border-box;
    padding-left:20px;
    padding-right: -50px;
    width: 50%;
    padding-top: 25px;
    background-color: #ffc80063;
}

.sessie-rechts{
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: #ffc80063;
}

.sessie-links h3 {
    margin-top: 0;
}

.gratis {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

.sessie-rechts ul {
    margin: 0;
    padding-left: 20px;
}



/*footer*/
footer {
    text-align: center;
    background-color: #4e8557a6;
    line-height: 15px;
    font-family: LGC;
    padding: 15px;
    font-size: 15px;
    margin-top: 25px;
    
}

}

/*---------KLEIN SCHERM ----------*/

@media (max-width: 989px){

body{
    background-color: #f7f4f1;
}

header{
    display: none;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked + .hamburger + .ham-menu {
    display: block;
    width: 150px;
    background-color: #4E8557;
    height: 100vh;
    transform: translateX(0);
    
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor:pointer;
    font-size: 50px;
    background-color: #4E8557;
    height: 400vw;
    width: 100px;
    text-align: center;
    padding-top: 75px;
    margin-top: -60px;
    margin-left: -25px;
    
    
}

.hamburger i, .hamburger img {
    position: fixed;
    
}

.hamburger i{
    margin-left: 35px;
}

.hamburger img{
    margin-top: 100px;
    margin-left: 35px;
}


.ham-menu{
    
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #4E8557;
    height: 20vh;
    font-family: LGC;
    transition: 0.28s ease-in-out;
    transform: translateX(-100%);
    font-size: 12px;

}

/* Sluitknop in menu */
.close-btn {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  cursor: pointer;
  padding-inline: 20px;
  padding-top: 20px;
}

img{
    width:50px;
    height: auto;
    margin-left: 25px;
    margin-top: 50px;
}

.logo-ham{
    width: 75px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 0;
}

/*nav binnen ham-menu*/

.nav-ham-menu{
    margin-top: 50px;
}

.nav-ham-menu h1 a{
    text-decoration: none;
    color: black;
    
}

/*container*/

.container{
    background-color: #ffc80077;
    margin-left: 152px;
    margin-right: 10px;
    position: relative;
    top:-2000px;
    padding-right: 25px;
    padding-bottom: 5px;
}

hr{
    border: 2px solid black;
    margin-top: 20px;
    margin-right: -25px;
}

/*pijlen*/

.arrow1, .arrow2{
    display: none;
}

.arrow3{
    position: relative;
    left: 145px
}

/*tekst leiderschap*/

.leiderschapsbeg h3{
    margin-left: 25px;
    text-align: center;
    padding-top: 10px;
    font-family: Roboto;
}

.leiderschapsbeg p{
    background-color: #ffc80094;
    padding: 10px 10px 25px 10px;
    text-align: center;
    margin-left: 25px;
    font-family: Roboto;
}

/*tekst carrièrepad*/

.carrierepad h3{
    margin-left: 25px;
    text-align: center;
    padding-top: 10px;
     font-family: Roboto;
}

.carrierepad p{
    background-color: #ffc80094;
    padding: 10px 10px 25px 10px;
    text-align: center;
    margin-left: 25px;
    font-family: Roboto;
}



/*meer info*/

.pdf{
    font-family: Roboto;
    position: relative;
    font-size: 50px;
    top:-1900px;
    color: black;
    right: -175px
}

.pdf:hover{
    color: #FFC600;
}

/*footer*/
h2{
    text-align: center;
    background-color: #4e855765;
    height: 50px;
    line-height: 50px;
    margin-left: 75px;
    margin-top: -1850px;
    font-family: Roboto;
    position: relative;
    padding: 15px;
    font-size: 12px;
    
}

    
}
